h1{
	color:blue;
	display: block;
}

body{
	background-image: url("http://www.jbaynet.co.za/images/1748288.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}	
.rugbyPic{
	height:3000px;
	padding:200px;	
}

.codePic{
	height:1000px;
	padding:200px;	
}

.gamingPic{
	height:1000px;
	padding:200px;
}